/* You can add global styles to this file, and also import other style files */
.flex-md-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
.site-header a{
  color:#fff !important;
  text-decoration: #fff;
}
.nav-link.disabled{
  color: #707070 !important;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
}
.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.card{
  padding: 20px;
}
.form-signin {
  width: 100%;
  max-width: 480px;
  padding: 22px;
  margin: 50px auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
footer{
  background: #e8e8e8;

}
